<script src="/js/couponValidation.js" defer></script>

<div class="container">
  <link rel="stylesheet" href="/styles/admin/css/addCoupon.css" />
  <h1>Add Coupon</h1>
  <form
    action="/admin/addCoupon"
    method="post"
    onsubmit="return couponValidation(this)"
  >
    <div class="form-group">
      <label for="code">Coupon Code:</label>
      <input
        type="text"
        id="code"
        name="coupon"
        placeholder="Enter coupon code"
        required
      />
      <p id="coupon_name_error" class="text-danger"></p>
    </div>
    <div class="form-group">
      <label for="discount">Discount:</label>
      <input
        type="number"
        id="discount"
        name="discount"
        placeholder="Enter discount"
        required
      />
      <p id="discound_error" class="text-danger"></p>
    </div>
    <div class="form-group">
      <label for="expiration">Expiration Date:</label>
      <input
        type="date"
        id="expiration"
        name="expirydate"
        placeholder="Enter expiration date"
        required
      />
    </div>
    <button type="submit" value="submit" class="btn add-coupon-btn">
      Go To Add Coupon
    </button>
  </form>
</div>
