<%- include('../layouts/adminpartial.ejs') %>
<script src="/js/addProductValidation.js" defer></script>
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>

  <!-- Jumbotron -->
  <div class="container py-4 mt-5 ">
    <div class="row g-0 align-items-center d-flex justify-content-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center ">
            <h2 class="fw-bold mb-5">Add New product</h2>

  <form action="/admin/addProduct" method="post" enctype="multipart/form-data" onsubmit="return addProductValidation(this)"> 

              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <input type="name" id="name1" name="name" placeholder="Name" required class="form-control" />
                    <p id="ProductNameError" class="text-danger"></p>
                    <label class="form-label" for="name"></label><br>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <input type="brand" id="brand" name="brand" placeholder="Brand" required class="form-control" />
                    <p id="brandNameError" class="text-danger"></p>
                    <label class="form-label" for="brand"></label><br>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <input type="text" id="description" name="description" placeholder="Description" required class="form-control" />
                    <p id="descriptionNameError" class="text-danger"></p>
                    <label class="form-label" for="description"></label><br>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <input type="number" id="stock" name="stock" placeholder="Stock" required class="form-control" />
                    <p id="stockNameError" class="text-danger"></p>
                    <label class="form-label" for="stock"></label><br>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="form-outline mb-4">
                   
                    
                  <select name="category" class="form-select" aria-label="Default select example">
                  <option disabled selected>Category</option>
                  <%Category.forEach((Data)=>{%>
                    <option><%=Data.category%></option>
                   
                    <%})%>
                  </select>
               
                  
                  </div>
                </div>
                
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <input type="number" id="price" name="price" placeholder="Price" required class="form-control" />
                    <p id="priceNameError" class="text-danger"></p>
                    <label class="form-label" for="price"></label><br>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <input type="number" id="size" name="size" placeholder="Size" required class="form-control" />
                    <p id="sizeNameError" class="text-danger"></p>
                    <label class="form-label" for="size"></label><br>
                  </div>
                </div>
                <div class="form-outline mb-4">
                  <div class="form-outline">
                    <input type="file" name="image" placeholder="Images" class="form-control" required multiple />
                    <!-- <label class="form-label" for="image"></label><br> -->
                  </div>
                </div>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>