

<body>
    <link rel="stylesheet" href="/styles/admin/css/alogin.css">
    <div class="caixa__login">
        <h2>ADMIN_LOGIN</h2>
        <form action="/admin/alogin" method="post">
            <div class="caixa__login-input">
                <input type="text" name="email" value="admin@gmail.com" required />
                <label>EMAIL</label>
            </div>
            <div class="caixa__login-input">
                <input type="password" name="password" value="123" required />
                <label>PASSWORD</label>
            </div>
          
           
            <button type="submit" value="LogIn" class="bg-transparent">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                LOGIN
            </button>
        </form>
    </div>
</body>

