<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/styles/admin/css/login.css">
    <title>Admin | Login</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-secondary text-white" style="border-radius: 1rem;">
                <div class="card-body text-center">
      
                  <div class="md-5 mt-md-4">
      
                    <h2 class="fw-bold mb-2 text-uppercase">ADMIN_LOGIN</h2>
                    <p class="text-white-50 mb-5"></p>
      
                    <div class="form-outline form-white mb-4">
                        <form action="/admin/login" method="post">
                      <input type="text" name="email" placeholder="Email" class="form-control form-control-lg" />
                      <label class="form-label" for="typeEmailX"></label>
                    </div>
      
                    <div class="form-outline form-white mb-4">
                      <input type="password" name="password" placeholder="Password" class="form-control form-control-lg" />
                      <label class="form-label" for="typePasswordX"></label>
                    </div>
      
      
                    <button class="btn btn-outline-light btn-lg px-5" type="submit" value="LogIn">Login</button>
                    </form>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>
