
    <!-- footer section start -->
    <div class="footer_section layout_padding ml-2  ">
      <div class="container ">
        <div class="row">
          <div class="col-sm-4">
            <h2 class="important_text">Important Link</h2>
            <div class="footer_menu">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Us</a></li>
                <!-- <li><a href="#">Our Latest Event</a></li> -->
                <li><a href="#">Our Latest Article</a></li>
                <li><a href="#">Join With Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-4">
            <h2 class="important_text">Social Link</h2>
            <div class="footer_menu">
              <ul>
                <li><a href="#">Facebook</a></li>
               
                
                <li><a href="#">Youtube</a></li>
               
              </ul>
            </div>
          </div>
          <div class="cards mt-4">
            <img src="/img/cards/5.png" alt="" />
            <img src="/img/cards/4.png" alt="" />
            <img src="/img/cards/3.png" alt="" />
            <img src="/img/cards/2.png" alt="" />
            <img src="/img/cards/1.png" alt="" />
          </div>
        </div>
      </div>
    </div>