<body>
  <link rel="stylesheet" href="/user/css/forgotPassword.css" />
  <div class="caixa__login">
    <h2>FORGOT PASSWORD</h2>
    <form action="/resetOtp" method="post">
      <div class="caixa__login-input">
        <input type="email" value="<%=email%>" name="email" readonly />
      </div>
      <div class="caixa__login-input">
        <input type="number" name="otp" required />
        <p id="emailError" class="text-danger"></p>
        <label>TYPE OTP</label>
        <%if(locals.err_msg){%>
          <p><%=err_msg%></p>

       <%}%>
      </div>
      <button type="submit" class="bg-transparent">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SUBMIT
      </button>
    </form>
  </div>
</body>
