<body>
  <link rel="stylesheet" href="/user/css/forgotPassword.css" />
  <div class="caixa__login">
    <h2>FORGOT PASSWORD</h2>
    <form action="/forgotOtp" method="post" onsubmit="return forgotPass(this)">
      <div class="caixa__login-input">
        <input type="email" id="email" name="email" required />

        <label>REGISTERED EMAIL</label>
        <% if(locals.err_msg) { %>
        <p class="text-danger"><%= err_msg %></p>
        <% } %>
      </div>

      <button type="submit" class="bg-transparent">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SUBMIT
      </button>
    </form>
  </div>
</body>

<script>
  function forgotPass(form){
    Email=document.getElementById("email")
    if(Email.value==""){
      document.getElementById("emailError").innerHTML="Please Enter Your e-mail Here...!"
      Email.focus()
      return false
    }
    var regexEmail= /^[a-zA-Z0-9._%+-]+@gmail\.com$/ ;
    if(regexEmail.test(Email.value)===false){
      document.getElementById("emailError").innerHTML="Please Enter Correct e-mail Form \n eg: xxx@gmail.com"
      return false
    }
    return true


  }
</script>