<%-include('../layouts/head.ejs')%> 
    <section class="vh-100">
      <div class="row mt-5">
       <link rel="stylesheet" href="/public/styles/login.css">
  <div class="container-fluid h-custom mt-5">
    <div class="row d-flex justify-content-center align-items-center h-100 mt-5" >
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://blog.playo.co/wp-content/uploads/2017/07/cycle-hd.jpg"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 ">
        <form action="/login" method="post">
         

          <div class="divider   ">
            <p class="text-center fw-bold mx-2 mb-0 MT-3 pt-3"><B><h3>LOGIN</h3></B></p>
          </div>
        
          <!-- Email input -->
          <div class="form-outline mb-4 mt-5">
            <input type="email" id="form3Example3" name="Email" class="form-control form-control-lg"
              placeholder="Enter a valid email address" />
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" id="form3Example4" name="password" class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <% if(locals.err_msg) { %>
              <p class="text-danger"><%= err_msg %></p>
              <% } %>
            <!-- <a href="#!" class="text-body mr-5">Forgot password?</a> -->
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="/signup"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>
  </div>
  
  <%-include('../layouts/footer.ejs')%> 
