<body>
  <link rel="stylesheet" href="/user/css/resetPassword.css" />
  <div class="caixa__login">
    <%if(locals.err_msg){%>
    <p><%=err_msg%></p>

    <%}%>
    <h2>RESET PASSWORD</h2>
    <form
      action="/postResetPassword"
      method="post"
      onsubmit="return resetPassword1(this)"
    >
      <div class="caixa__login-input">
        <p id="cpassworderror" class="text-danger"></p>
          <input type="password" id="cpassword" name="currentPassword"  />
                 <label>Current Password</label>
                    </div>
                    <div class="caixa__login-input">
                      <p id="npassworderror" class="text-danger"></p>
                 <input type="password" id="npassword" name="newPassword" />
          <label>New Password</label>
      </div>
      <div class="caixa__login-input">
          <input type="password" id="conpassword" name="conformNewPassword" />
             <p id="conpassworderror" class="text-danger"></p>
                <label>Conform Password</label>
                     </div>
      <button type="submit" class="bg-transparent">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        SUBMIT
      </button>
    </form>
  </div>
</body>

<script>
  function resetPassword1(form) {
    cupa = document.getElementById("cpassword");
    nepa = document.getElementById("npassword");
    copa = document.getElementById("conpassword");

    if (cupa.value === "") {
      document.getElementById("cpassworderror").innerHTML =
        "Please Enter Your Current Password Here...!";
      cupa.focus();
      return false;
    }
    var regexCupa = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
    if (regexCupa.test(cupa.value) === false) {
      document.getElementById("cpassworderror").innerHTML = "Password Should Be Standard Form";
      cupa.focus();
      return false;
       
    }
    // ---------------------------------------------

    if (nepa.value === "") {
      document.getElementById("npassworderror").innerHTML =
        "Please Enter Your New Password Here...!";
      nepa.focus();
      return false;
    }
    var regexNepa = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
    if (regexNepa.test(nepa.value) === false) {
      document.getElementById("npassworderror").innerHTML =
        "New Password Should Be Standard Form";
    }
    // ---------------------------------
    if (copa.value === "") {
      document.getElementById("conpassworderror").innerHTML ="Please Enter Your Conform Password Here...!";
      copa.focus();
      return false;
    }
    var regexCupa = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
    if (regexCupa.test(copa.value) === false) {
      document.getElementById("conpassworderror").innerHTML =  "Conform Password Should Be Standard Form";
      copa.focus();
      return false;
    }
    return true;
  }
</script>
