<%-include('../layouts/head.ejs')%>
 <%-include('../layouts/userNav.ejs')%>
<script src="/js/userAddressValidation.js" defer></script>

  <section>
    <link rel="stylesheet" href="/user/css/userAddress.css">

    <div class="container my-5 py-5">

      <!--Section: Design Block-->
      <section>
    
        <div class="row">
          <div class="col-md-8">
           
            <div class="card mb-4 accordion" id="accordionExample">
              <div class="card body accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <div class="accordion-button collapsed text-uppercase text-font h4" type="button"
                    data-mdb-toggle="collapse" data-mdb-target="#collapseOne" aria-expanded="false"
                    aria-controls="collapseOne">
                   Add User Address here/Update
                  </div>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-mdb-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="form-outline d-flex">
                      <input type="text" id="form1" class="form-control" />
                      <label class="form-label" for="form1">Enter code</label>
                    </div>
                  </div>
                </div>
    
    
    
              </div>
            </div>
     </div>
    
          <div class="col-md-8 mb-4">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0 text-font text-uppercase">Delivery Address</h5>
              </div>
              <div class="card-body">
                <form action="/postUserAddress"  method="post" onsubmit="return userAddressValidation(this) ">
    
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="firstName" name="firstName" required placeholder="First Name" id="form11Example1" class="form-control" />
                        <p id="Name_Error" class="text-danger"></p>
                        <label class="form-label"  for="form11Example1">First Name</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="lastName" id="form11Example2" required name="lastname" placeholder="Last Name" class="form-control" />
                        <p id="Last_Name_Error" class="text-danger"></p>
                        <label class="form-label" for="form11Example2">Last Name</label>
                      </div>
                    </div>
                  </div>
    
                  <!-- Text input -->
                  <div class="form-outline mb-4">
                    <input type="text" id="houseName"  id="form11Example3" required name="house" placeholder="House/Flate Name" class="form-control" />
                    <p id="House_Name_Error" class="text-danger"></p>
                    <label class="form-label" for="form11Example3">House/Flate Name</label>
                  </div>


               

                  <!-- Text input -->

                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="streetName" id="form11Example1" placeholder="Street Name" required name="street" class="form-control" />
                        <p id="Street_Name_Error" class="text-danger"></p>
                        <label class="form-label" for="form11Example1">Street Name</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input  type="text"  id="cityName" required name="city" placeholder="City/Locality Name" class="form-control" />
                        <p id="City_Name_Error" class="text-danger"></p>
                        <label class="form-label" for="form11Example2">City/Locality Name</label>
                      </div>
                    </div>
                  </div>
    
                  <!-- Text input -->
                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="districtName" required name="district" placeholder="District Name" class="form-control" />
                        <p id="District_Name_Error" class="text-danger"></p>
                        <label class="form-label" for="form11Example1">District Name</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" id="stateName" required placeholder="State Name" name="state" class="form-control" />
                        <p id="State_Name_Error" class="text-danger"></p>
                        <label class="form-label" for="form11Example2">State Name</label>
                      </div>
                    </div>
                  </div>
    
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input type="number" id="pin" placeholder="PIN CODE" required name="pin" class="form-control" />
                    <p id="PIN_Code_Error" class="text-danger"></p>
                    <label class="form-label" for="form11Example5">PIN</label>
                  </div>
    
                  <!-- Number input -->
                  <div class="form-outline mb-4">
                    <input type="number" id="mobile" req name="phone" placeholder="Mobile Number" class="form-control" />
                    <p id="Mobile_Number_Error" class="text-danger"></p>
                    <label class="form-label" for="form11Example6">Mobile</label>
                  </div>
  
              </div>
    
            </div>
            <div class="text-center">
          
              <button type="submit"  class="btn button-order col-md-10">Submit Address</button>
            </div>
    
          </div>
    
        </form>
    
    
    
        </div>
    
      </section>
    
    </div>
  </section>
  <%-include('../layouts/userFooter.ejs')%>
  <%-include('../layouts/footer.ejs')%>
  

  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>